.picture-bg{
    width: 100%;
    min-height: 500px;
    line-height: 66px;
    text-align: center;
    padding-top: 100px;
    background-color: #cccccc;
    background: url('//blog.lovejade.cn/assets/images/noise.png'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0e0e0), color-stop(50%, #cccccc), color-stop(100%, #b0b0b0));
    background: url('//blog.lovejade.cn/assets/images/noise.png'), -webkit-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
    background: url('//blog.lovejade.cn/assets/images/noise.png'), -moz-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
    background: url('//blog.lovejade.cn/assets/images/noise.png'), -o-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
    background: url('//blog.lovejade.cn/assets/images/noise.png'), linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #8c8c8c;
    font-size: 64px;
    font-weight: 100;
}
@media (max-width: 768px) {
    .picture-bg{
        font-size: 22px;
        min-height: 200px;
        padding-top: 20px;
    }
}
.change-color{
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 11s infinite linear;
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
