<button id="js-fullscreen"><span id="icon-arrow" class="fontello"></span></button>

<script src="//cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery.pjax/2.0.1/jquery.pjax.js"></script>
<script src="//cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
<script async src="//cdn.bootcss.com/nprogress/0.2.0/nprogress.js"></script>
<script async src="//tjs.sjs.sinajs.cn/open/api/js/wb.js"></script>
<script async src="/assets/js/script.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script>
function async(u, c) {
  var d = document,
    t = 'script',
    o = d.createElement(t),
    s = d.getElementsByTagName(t)[0];
  o.src = u;
  if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
  s.parentNode.insertBefore(o, s);
}
</script>

<script>
async("//cdn.bootcss.com/anchor-js/4.1.0/anchor.min.js",function(){
  anchors.options = {
    visible: 'always',
    placement: 'right'
  }
  anchors.add('#post h1, #post h2, #post h3, #post h4');
  anchors.add().remove('.intro-header h1').remove('.subheading').remove('.sidebar-container h5');
})
</script>

<script type="text/javascript">
if ('serviceWorker' in navigator) {
  navigator.serviceWorker
    .register('/service-worker.js', {scope: '/'})
    .then(registration => console.log('SW Registration Success！Scope: ', registration.scope))
    .catch(err => console.log('SW Registration Failed! Error: ', err));
}
</script>
