<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<!--[if lte IE 9]><meta http-equiv="refresh" content="0;url=/ie.html"><![endif]-->

<title>{{ page.title }} | {{ site.title }}</title>
<meta name="author" content="{{ site.author.name }}">
{% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}">
{% endif %}

{% if page.description  %}
  <meta name="description " content="{{ page.description  }}">
{% endif %}

<link rel="dns-prefetch" href="//cdn.bootcss.com" />
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
<!--[if IE]><link rel="shortcut icon" href="/assets/favicons/favicon.ico"><![endif]-->
<!-- Add to home screen for Android and modern mobile browsers -->
<link rel="manifest" href="/assets/favicons/manifest.json">
<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#603cba">
<meta name="theme-color" content="#603cba">
<!-- Add to home screen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="天意人间舫">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
<!-- Add to home screen for Windows -->
<meta name="msapplication-TileImage" content="/assets/favicons/mstile-150x150.png">
<meta name="msapplication-TileColor" content="#000000">


<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<link href="/pages/rss.xml" rel="alternate" title="{{site.title}}" type="application/atom+xml">
<link href="//cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/gitalk/1.2.2/gitalk.min.css" rel="stylesheet">
<html xmlns:wb="http://open.weibo.com/wb">
