<style>
#jeff_show {
  width: 100%;
  height: 44px;
  border-top: 1px solid #0088bd;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 44px;
}
#jeff_show>a{
  color: #ed1941;
}
.content-center{
  border-top: 1px solid #00acf0;
  width: 100%;
  height: 100%;
  text-align: center;
  margin:auto;
  display: -webkit-box; display: -moz-box; display: -webkit-flex; display: flex;
  -webkit-box-align: center;-moz-box-align: center;
  -webkit-align-items: center; align-items: center; -webkit-box-pack: center;
  -webkit-justify-content: center; justify-content: center;

  color: #009ad6;
  -webkit-animation-timing-function: ease-in-out;    /*动画时间曲线*/
  -webkit-animation-name: breathe;                  /*动画名称，与@keyframes搭配使用*/
  -webkit-animation-duration: 2700ms;              /*动画持续时间*/
  -webkit-animation-iteration-count: infinite;    /*动画要重复次数*/
  -webkit-animation-direction: alternate;         /*动画执行方向，alternate 表示反复*/
}
@-webkit-keyframes breathe {
    0% { opacity: .5; text-shadow:0 1px 2px rgba(234,222,11,0.1);}
    100% { opacity: 1; text-shadow:0 1px 30px rgba(59,255,255,1);}
}
@-ms-keyframes breathe {
    0% { opacity: .5; text-shadow:0 1px 2px rgba(234,222,11,0.1);}
    100% { opacity: 1; text-shadow:0 1px 30px rgba(59,255,255,1);}
}
@-moz-keyframes breathe {
    0% { opacity: .5; text-shadow:0 1px 2px rgba(234,222,11,0.1);}
    100% { opacity: 1; text-shadow:0 1px 30px rgba(59,255,255,1);}
}
#counter_show{
  text-align: center;
  margin: 0 !important;
  font-size: .9em !important;
}
#counter,#detail_counter{
  color: #333;
  display: inline-block;
  text-align: center;
  margin: auto;
}
</style>

<aside id="sidebar">
  <nav id="tags">
    <a href="/index.html" id="avatar" style="background-image:url({{ site.avatar }})"></a>

    <ul id="tags__ul">
      <li id="pl__all" class="tags__li tags-btn active">全部</li>
      {% for category in site.categories %}
        <li id="{{ category[0] }}" class="tags__li tags-btn">{{ category[0] }}</li>
      {% endfor %}
    </ul>

    <div id="jeff_show">
      <a href="http://www.jeffjade.com?nicejade" class="tags-btn content-center">晚晴幽草轩</a>
    </div>

    <div id="tags__bottom">
      <a href="mailto:{{ site.author.email }}" id="icon-email" class="tags-btn fontello"></a>
      <a href="/pages/rss.xml" id="icon-feed" class="tags-btn fontello"></a>
    </div>
  </nav> <!-- end #tags -->

  <div id="posts-list">
    <form action="" id="search-form">
      <a href="/index.html" id="mobile-avatar" style="background-image:url({{ site.avatar }})"></a>
      <!-- NOTE: input field is disabled by default -->
      <input id="search-input" type="text" placeholder="Search Your Want ..." >
    </form>

    <nav id="pl__container">
    {% for post in site.posts %}
      <a class="{{ post.categories }} pl__all" href="{{ post.url }}"><span class="pl__circle"></span><span class="pl__title">{{ post.title }}</span><span class="pl__date">{{ post.date | date: "%b %Y" }}</span></a>
    {% endfor %}
    </nav>
  </div> <!-- end #posts-list -->
</aside> <!-- end #sidebar -->
