body{margin:0;padding:0;background:#111111;font-size:12px;overflow:auto}
#mainDiv{width:100%;height:100%}
#loveHeart{float:left;width:670px;height:625px}
#garden{width:100%;height:100%}
#elapseClock{text-align:right;font-size:18px;margin-top:10px;margin-bottom:10px}
#words{font-family:"sxslRegularTh";width:500px;font-size:24px;color:#666}
#messages{display:none}
#elapseClock .digit{font-family:"rougescript";font-size:36px}
#loveu{padding:5px;font-size:22px;margin-top:80px;margin-right:120px;text-align:right;display:none}
#loveu .signature{margin-top:10px;font-size:20px;font-style:italic}
#clickSound{display:none}
#code{float:left;width:440px;height:400px;color:#333;font-family:"Consolas","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";font-size:12px}
#code .string{color:#2a36ff}
#code .keyword{color:#7f0055;font-weight:bold}
#code .placeholder{margin-left:15px}#code .space{margin-left:7px}
#code .comments{color:#3f7f5f}
#copyright{margin-top:10px;text-align:center;width:100%;color:#666}
#errorMsg{width:100%;text-align:center;font-size:24px;position:absolute;top:100px;left:0}
#copyright a{color:#666}
.moonback{width: 3em;height: 3em;background-color:#111;margin: 0 auto;position: absolute;;top: 7%;right: 2%;}
.moonback::before{content: "";display: block;position: absolute;top: .5em;right: .1em;width: 2em;height: 2em;background-color: #fffe99;border-radius: 1em;}
.moonback::after{content: " ";display: block;position: absolute;right: .7em;top: .4em;width: 2em;height: 2em;background-color: #111;border-radius: 1em;}
.changeColorClass::after{background-color: #2e9999};
